.headshot{
    width: 46%;
    border-radius: 50%;
    margin-top: 10%;
    box-shadow: 3px 3px 3px black;
}

.aboutTitle{
    font-size: 4vw;
    font-weight: bold;
    color: var(--dark-blue);
}

.aboutText{
    font-size: 30px;
}

@media screen and (max-width: 1200px){
    .headshot{
        width: 40%;
    }
    
    .titleContainer{
        align-items: center;
    }
    
    .aboutTitle{
        font-size: 6vw;
    }
    
    .aboutText{
        font-size: 22px;
    }
}

@media screen and (max-width: 900px){
    .headshot{
        width: 40%;
    }
    
    .aboutTitle{
        font-size: 6vw;
    }
    
    .aboutText{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px){
    .headshot{
        width: 80%;
    }
    
    .aboutTitle{
        font-size: 8vw;
    }
    
    .aboutText{
        font-size: 14px;
    }
}