@import "../../styles/COLORS.css"; 


.Box{
    width: 100%;
    display: flex;
    margin: 0;
}
.nav{
    background-color: #e9e7e7;
}

.logo{
    max-width: 100%;
    padding-top: 5%;
    padding: 2%;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.link{
    /* text-decoration: none; */
    /* font-weight: bold; */
    color: rgb(75, 75, 75);
    padding: 2%;
    padding-right: 1.5%;
    /* text-shadow: 1.5px 1.5px black; */
}

.link:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.menuLink{
    text-decoration: none;
    color: var(--dark-blue);
}

@media screen and (max-width: 600px) {
    .Box{
        flex-direction: column;
    }
    .logo{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .links{
        justify-content: space-between;
        font-size: 4vw;

        padding: 0;
    }
    
}

