@import "../../styles/COLORS.css";

.home {
  display: flex;
  /* background-color: var(--grey); */
  height: 100%;
}

.homeBanner {
  background: url("../../assets/images/backgroundImages/BannerPic.jpg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-position-x: 100%;
  padding-bottom: 3%;
  border-radius: 0 0 10px 10px;
  background-color:#ebecef;
  /* background-image: linear-gradient(#ebecef, #dee2e7);  */
  box-shadow: 1px 1px 8px rgb(81, 79, 79);
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 50%;
}

.text {
  text-align: left;
  font-size: 3vw;
  color: rgb(75, 75, 75);
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .text {
    font-size: 2.9vw;
  }
}

@media screen and (max-width: 600px) {
  .home {
    flex-direction: column;
  }
  .homeBanner{
    padding-bottom: 1%;
    margin-bottom: 3%;
  }
  .headshotContainer {
    width: 100%;
  }
  .headshot {
    order: 1;
    width: 50%;
    margin: 5%;
  }
  .text {
    font-size: 4.1vw;
    width: 100%;
    text-align: left;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
  }

  .serviceCardContainer {
    flex-direction: column;
    align-items: center;
    /* padding-left: 9%; */
  }
}
