.servicePageTitle{
  text-align: center;
  font-size: 2.5vw;
}

.servicePageImage {
  width: 80%;
  margin-left: 10%;
  border-radius: 50% 25% / 25% 40%;
  box-shadow: 1px 1px 10px 1px #888888;
}

.servicePageText {
  width: 85%;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 1.5vw;
  text-align: justify;
}

.servicePageBullets{
  width: 80%;
  margin: 2% 0 0% 10%;
  font-size: 1.5vw;
  text-align: justify;

}

.relevantCompaniesTitle{
  text-align: center;
  font-size: 2.5vw;
}

.companyATag{
  display: flex;
  justify-content: center;
}

/*=== Org Logos === */

.talentHopeboundLogo{
  width: 20%;
  margin-top: -1%;
  margin-bottom: 4%;
}

.coleagueLogo{
  width: 20%;
  margin-bottom: 3%;
}

.TFALogo{
  width: 20%;
  margin-bottom: 3%;
}

.ElEdLogo{
  width: 10%;
  margin-bottom: 3%;
  box-shadow: 1px 1px 5px 1px #888888;
}

.IACLogo{
  width: 10%;
  margin-top: -1%;
  margin-bottom: 3%;
}

.vChiefLogo{
  width: 15%;
  margin-top: -1%;
  margin-bottom: 4%;
}

@media screen and (max-width: 1200px) {
  .servicePageTitle{
    font-size: 3.5vw;
  }
  
  .servicePageText {
    font-size: 1.8vw;
  }
  
  .servicePageBullets{
    font-size: 1.8vw;
  }
  
  .relevantCompaniesTitle{
    font-size: 3vw;
  }
}

@media screen and (max-width: 900px) {
  .servicePageTitle{
    font-size: 3.8vw;
  }

  .servicePageImage{
    width: 40%;
    margin-left: 30%;
    margin-bottom: 2%;
  }
  
  .servicePageText {
    font-size: 2.1vw;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0;
  }
  
  .servicePageBullets{
    font-size: 2.1vw;
  }
  
  .relevantCompaniesTitle{
    font-size: 3vw;
  }
  /* org logos */
  .talentHopeboundLogo{
    width: 150px; 
  }
  
  .coleagueLogo{
    width: 150px;
  }
  
  .TFALogo{
    width: 150px;
  }
  
  .ElEdLogo{
    width: 85px;
  }
  
  .IACLogo{
    width: 90px;
  }
  
  .vChiefLogo{
    width: 130px;
  }
}

@media screen and (max-width: 800px) {
  .servicePageTitle{
    font-size: 32px;
  }
  .servicePageText,
  .servicePageBullets{
    font-size: 18px;
  }
  .relevantCompaniesTitle{
    font-size: 25px;
  }
  
}

@media screen and (max-width: 600px) {
  .companyATag{
    display: flex;
    justify-content: center;
  }
}